.picker-container {
    h3 {
        color: lightskyblue;
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;

        .toggle {
            padding: 2rem;
        }

        .select {
            width: 15rem;
            margin: 2rem;
        }
    }

}